@model IEnumerable<Post>

@{
    ViewBag.Title = "List Post";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@section header {
    <link href="~/TemplateSources/DataTables/datatables.min.css" rel="stylesheet" />
    <style>
        .table tr:hover td {
            background-color: #999;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
}
<script src="~/TemplateSources/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable();
    });
</script>

<div class="forms">
    <h2 class="title1">@ViewBag.Title</h2>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">

            <div class="@TempData["color"]" style="text-align: center; font-weight:bold; font-size:20px; margin-bottom:10px">@TempData["info"]</div>
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Posted on</th>
                        <th>Job title</th>
                        <th>Wage</th>
                        <th>Total post fee</th>
                        <th>Posted By</th>
                        <th>Job category</th>
                        <th>Bider</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var p in Model)
                    {
                    <tr data-url="/Admin/EmploymentDetail?postID=@p.postID">
                        <td>@p.postedDate</td>
                        <td>@p.jobTitle</td>
                        <td>RM @p.wage</td>
                        <td>RM @p.PostFees.Sum(x => x.fee)</td>
                        <td>@p.User.userName</td>
                        <td>@p.JobCategory.name</td>
                        <td>@p.RequestedLists.Count()</td>
                        <td>@p.status</td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Posted on</th>
                        <th>Job title</th>
                        <th>Wage</th>
                        <th>Total post fee</th>
                        <th>Posted By</th>
                        <th>Job category</th>
                        <th>Bider</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section footer {


}

