@model ProfileVM

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

    SelectList phoneCode = new SelectList(new List<SelectListItem>
    {
        new SelectListItem { Selected = ("-1" == Model.PhoneCode) ? true : false, Text = "- Select One -"},
        new SelectListItem { Selected = ("012" == Model.PhoneCode) ? true : false, Text = "012", Value = "012"},
        new SelectListItem { Selected = ("016" == Model.PhoneCode) ? true : false, Text = "016", Value = "016"},
        new SelectListItem { Selected = ("017" == Model.PhoneCode) ? true : false, Text = "017", Value = "017"},
        new SelectListItem { Selected = ("018" == Model.PhoneCode) ? true : false, Text = "018", Value = "018"},
        new SelectListItem { Selected = ("019" == Model.PhoneCode) ? true : false, Text = "019", Value = "019"},
        new SelectListItem { Selected = ("011" == Model.PhoneCode) ? true : false, Text = "011", Value = "011"},
    }, "Value", "Text", 1);
}

<div class="forms">
    <h2 class="title1">@ViewBag.Title</h2>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h4>Profile Information</h4>
        </div>
        <div class="form-body">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <div class="col-sm-2"></div>

                    <label class="col-sm-3">
                        @if (User.Identity.Name == Model.Email)
                        {
                            @Html.TextBoxFor(m => m.Photo, new { type = "file", accept = "image/*", style = "display:none; font-weight: bold" })
                            <img src="~/Photo/Profile/@Model.PhotoURL" id="prev" width="200" height="200">
                        }
                        else
                        {
                            <img src="~/Photo/Profile/@Model.PhotoURL" id="prev" width="200" height="200">
                        }
                    </label>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(m => m.Photo, "", new { Class = "alert-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        @Html.LabelFor(m => m.Id, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                        <div class="col-sm-2" style="margin-right: 60px; text-align: right">
                            <p class="col-sm-2 control-label">@Model.Id</p>
                        </div>
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Role, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                        <div class="col-sm-3">
                            <p class="col-sm-3 control-label">@Model.Role</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        <p class="col-sm-6 control-label" style="text-align: left">@Model.Email</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    @if (User.Identity.Name == Model.Email)
                    {
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Name, new { maxLength = 50, required = "", Class = "form-control1", placeholder = "Enter your name", title = "Name cannot be empty." })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.Name, "", new { Class = "alert-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6">
                            <p class="col-sm-6 control-label" style="text-align: left">@Model.Name</p>
                            @Html.HiddenFor(m => m.Name)
                        </div>
                    }
                </div>

                @* Only need when is account themself else no display it *@
                @if (User.Identity.Name == Model.Email)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                        <div class="col-sm-6">
                            @Html.PasswordFor(m => m.Password, new { maxLength = 20, required = "", autofocus = "", Class = "form-control1 col-sm-6", placeholder = "Enter your password before update your profile", title = "Current password must be entered to update profile." })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.Password, "", new { Class = "alert-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                        <div class="col-sm-6">
                            @Html.PasswordFor(m => m.NewPassword, new { maxLength = 20, Class = "form-control1 col-sm-6", placeholder = "Enter your new password" })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { Class = "alert-danger" })
                        </div>
                    </div>
                }
                @* //Only need when is account themself else no display it// *@
                <div class="form-group">
                    @Html.LabelFor(m => m.phone, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    @if (User.Identity.Name == Model.Email)
                    {
                        <div class="col-sm-2">
                            @Html.DropDownListFor(m => m.PhoneCode, phoneCode, new { Class = "col-sm-2 form-control" })
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.phone, new { maxlength = 8, required = "", Class = "form-control col-sm-4", placeholder = "Enter your phone", title = "Phone number cannot be empty." })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.PhoneCode, "", new { Class = "alert-danger" })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.phone, "", new { Class = "alert-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6">
                            <p class="col-sm-6 control-label" style="text-align: left">@Model.PhoneCode - @Model.phone</p>
                            @Html.HiddenFor(m => m.phone)
                        </div>
                    }
                </div>
                

                <div class="form-group">
                    @Html.LabelFor(m => m.UserAddress, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    @if (User.Identity.Name == Model.Email)
                    {
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.UserAddress, new { id = "autocomplete", maxlength = 250, required = "", Class = "form-control1 col-sm-6", placeholder = "Enter your address", onfocus = "geolocate()" })
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessageFor(m => m.UserAddress, "", new { Class = "alert-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6">
                            <p class="col-sm-6 control-label" style="text-align: left">@Model.UserAddress</p>
                            @Html.HiddenFor(m => m.UserAddress)
                        </div>
                    }

                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.IP, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        <p class="col-sm-12 control-label" style="text-align: left">@Model.IP</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.userAgent, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        <p class="col-sm-12 control-label" style="text-align: left">@Model.userAgent</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastLogin, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        <p class="col-sm-12 control-label" style="text-align: left">@Model.LastLogin</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.RegisteredDate, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        <p class="col-sm-12 control-label" style="text-align: left">@Model.RegisteredDate</p>
                    </div>
                </div>

                @if (Model.Role != "Admin")
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReportCount, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })

                        <div class="col-sm-6">
                            <p class="col-sm-12 control-label" style="text-align: left">@(Model.ReportCount != null ? @Model.ReportCount : 0)</p>
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.LoginFailure, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })

                    <div class="col-sm-6">
                        <p class="col-sm-12 control-label" style="text-align: left">@Model.LoginFailure</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Status, new { Class = "col-sm-2 control-label", style = "text-align: left; font-weight: bold" })
                    <div class="col-sm-6">
                        @if (Model.Role == "Admin")
                        {
                            <p class="col-sm-6 control-label" style="text-align: left; text-transform: uppercase">@Model.Status</p>
                            @Html.HiddenFor(m => m.Status)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Status,
                                     new SelectList(Enum.GetValues(typeof(Status))),
                                     new { Class = "form-control col-sm-6 seachSelector", style = "text-align: left; text-transform: uppercase" })
                        }
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(m => m.Status, "", new { Class = "alert-danger" })
                    </div>
                </div>

                <br>
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <button class="btn btn-dark" data-url="/Admin/UserProfile/@Model.Id">Reset</button>
                    <button class="btn btn-default" data-url="/Admin/ListAccount">Back to List</button>
                    @if (Model.Role != "Admin" || User.Identity.Name == Model.Email)
                    {
                        <button class="btn btn-primary">Update</button>
                    }
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
@section footer {
    <script>
        // TODO: Enable validation on hidden inputs
        $.validator.setDefaults({ ignore: "" });

        var img = $("#prev")[0];
        var src = img.src;

        img.onerror = function () {
            img.src = src;
            $("#Photo").val("");
        };

        $("#Photo").change(function (e) {
            var f = this.files[0];
            img.src = f ? URL.createObjectURL(f) : "";
        });
    </script>

    @*Google address searching*@
    <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'long_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                        /** @@type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                { types: ['geocode'] });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                $('.' + component).val("");
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            console.log(place.address_components);
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    $('.' + addressType).val(val);
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbi_YnG0TT_9rn_74DIzmuSdW1CDb0q2Y&libraries=places&callback=initAutocomplete"
            async defer></script>
}
