
@{
    ViewBag.Title = "Requested Job";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@section header {
    <link href="~/TemplateSources/DataTables/datatables.min.css" rel="stylesheet" />
}
<script src="~/TemplateSources/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>
<div class="forms">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title1">@ViewBag.Title</h2>
        </div>
    </div>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Job title</th>
                        <th>Bid close on</th>
                        <th>Working date</th>
                        <th>Wage (MYR)</th>
                        <th>Biding status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RequestedList r in ViewBag.requestedPosts)
                    {
                    <tr>
                        <td>@r.Post.jobTitle</td>
                        <td>@r.Post.workingDate.Value.AddDays(-(int)ViewBag.dayBeforeWork)</td>
                        <td>@r.Post.workingDate</td>
                        <td>@r.Post.wage</td>
                        <td>@r.status</td>
                        <td><a href="~/Employee/JobDetail?postID=@r.requestedPostID" class="btn btn-primary">Employment</a></td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Job title</th>
                        <th>Bid close on</th>
                        <th>Working date</th>
                        <th>Wage (MYR)</th>
                        <th>Biding status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section footer {


}