
@{
    ViewBag.Title = "Working Maps";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    
}
@section header {
    <link href="~/TemplateSources/DataTables/datatables.min.css" rel="stylesheet" />
}
<script src="~/TemplateSources/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[5, 25, -1], [5, 25, "All"]]
        });
        $('#dataTableq').DataTable({
            "lengthMenu": [[5, 25, -1], [5, 25, "All"]]
        });
    });
</script>
<div class="forms">
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h2 class="title1">@ViewBag.Title</h2>
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Working Address</th>
                        <th>Employer Name</th>
                        <th>Employer Phone</th>
                        <th>Working date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RequestedList rqst in ViewBag.requestedPosts)
                    {
                        Post post = rqst.Post;
                        <tr>
                            <td>@post.workingAddress</td>
                            <td>@post.User.userName</td>
                            <td>@post.User.phone</td>
                            <td>@post.workingDate</td>
                            <td><a href="~/Employee/ReachedWorkPlace?postID=@post.postID" class="btn btn-success">Reach</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h2 class="title1">Your job is running</h2>
            <table id="dataTable1" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Job title</th>
                        <th>Employer Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Wage earned (MYR)</th>
                        <th>Wage calculating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RequestedList rqst in ViewBag.workingPosts)
                    {
                        Post post = rqst.Post;
                        string workingStatus = "Stopping";
                        if (post.workingStart != null && post.workingEnd == null)
                        {
                            workingStatus = "Running";
                        }
                    <tr>
                        <td>@post.jobTitle</td>
                        <td>@post.User.userName</td>
                        <td>@post.workingStart</td>
                        <td>@post.workingEnd</td>
                        <td>@post.workingDuration Hour(s)</td>
                        <td>RM @post.workingTotalWage</td>
                        <td>@workingStatus</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section footer {


}
